:root {
    --primary-color: #db4444;
    /*Text Color*/
    --text-color: #000000;
    --text-color-2: #fafafa;
    --text-color-3: #ffffff;
    /*BG Color*/
    --bg-color: #f5f5f5;
    --bg-color-2: #ffffff;
    --bg-color-3: #000000;
    /*Border Color*/
    --border-color: rgba(0, 0, 0, 0.3);
    --border-color-2: #fafafa;
    /*Font Weight*/
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 600;
    /*Font Family*/
    --font-heading: Inter, san-serif;
    --font-title: Poppins, san-serif;

    --clr-status: #00FF66;
}

body{
    font-family: var(--font-title);
}

.wrapper {
    margin: 0 135px;
}

.path {
    margin: 80px 0 80px 0;
    display: inline-flex;
    gap: 12px;
    font-family: var(--font-title);
    color: var(--text-color);
}

.path__link {
    text-decoration: none;
    color: var(--text-color);
}

.contact{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

.contact-us{
    width: 70%;
}

.contact-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-header img{
    width: 25px;
}

.contact-header h2{
    font-size: 15px;
    letter-spacing: 1px;
    font-family: var(--font-title);
    font-weight: var(--font-medium);
}

.contact-info p{
    font-size: 10px;
}

hr{
    border: 1px solid gray;
    margin: 20px 0;
}

.input-form{
    display: flex;
    justify-content: space-between;
}

form .input-form input{
    display: block;
    padding: 12px 9px;
    border: none;
    background-color: rgb(237, 237, 237);
    color: gray;
}

textarea{
    display: block;
    padding: 12px 9px;
    border: none;
    background-color: rgb(237, 237, 237);
    color: gray;
    margin: 30px 0;
}

.button{
    text-align: right;
}

.button button{
    color: white;
    background-color: #db4444;
    border: none;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button button:hover{
    background-color: black;
}